*{
 color:white;
}
#navBar{
 height: 7vh;
 background-color: #808080;
 display: flex;
 justify-content: space-between;
 margin-bottom: 5px;
 box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
#navBar img{
 padding: 5px;
}
#navBar ul{
	display: flex;
	align-items: flex-end;
	padding: 5px;
}
#navBar a{
 text-decoration: none;
 margin: 5px;
 padding: 2px;
 background-color: #333;
 height: 30px;
 line-height: 30px;
 box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
#navBar li{

}

#story{
 height: 50vh;
 background-color: #333;
 margin-bottom: 5px;
 box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
#questionPrompt{
	height: 10vh;
	background-color: #777;
	margin-bottom: 5px;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

#questions{
	height: 40vh;
	background-color: #333;
	display: flex;
	justify-content: space-around;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
#question1{
	margin: 10px;
 width: 32vw;
 background-color: #777;
 box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
#question2{
	margin: 10px;
	width: 32vw;
	background-color: #666;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
#question3{
	margin: 10px;
	width: 32vw;
	background-color: #999;
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}

.container{
  margin: 20px auto;
  width:830px;
  height:auto;
  background-color:#fff;
  display:grid;
  grid-template-columns: 400px 400px;
  grid-row: auto auto;
  grid-column-gap: 20px;
	grid-row-gap: 20px;
}
  .box{
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
		font-family:sans-serif;
		height: 400px;
		
	}
	
	.placehold {
		float: left;
		margin-top: -5em;
	}

	.placeText {
		font-size: 10px;
		margin-left: -10em;
	}